body {
  margin: 0;
  text-align: center;
  font-family: "Lexend Mega", sans-serif;
}

h1 {
  margin-top: 0%;
}

header div {
  height: 100vh;
  background-image: url(images/img-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header div h1 {
  position: absolute;
  top: 42vh;
  left: 35vw;
  font-size: 3.5em;
  font-family: "Lexend Mega", sans-serif;
  color: white;
}

.gradient {
  height: 50em;

  justify-content: space-evenly;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(31, 86, 124, 1) 100%
  );
}

main .information-div {
  background-color: #1f567c;
  height: 31em;
  padding: 0px 10vw;
  color: white;
}

main .information-div .circles {
  float: left;
}

main .circles .circle {
  height: 10em;
  width: 10em;
  /* width: 20vw; */
  border-radius: 100%;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  margin: 3em 6em 3em 3em;
}

main .information-div .text {
  text-align: justify;
  text-justify: inter-word;
  width: 60vw;
  padding-top: 10em;
}
